<div class="container-fluid px-5 py-5">
  <h1>All Bookings</h1>

  <h3>Active Bookings</h3>
  <% unless @my_active_bookings.empty? %>
    <% @my_active_bookings.each do |booking| %>
      <div class="row mb-2">
        <div class="col">
          Booking id: <%= booking.id %> by <%= booking.user.email %>,
          starting <%= booking.start_date %>,
          ending <%= booking.end_date %>,
          Booked by <%= booking.user.email %>,
          Island Owner <%= booking.island.user.email %>
          <% if booking.user.id == current_user.id %>
            <%= link_to "Delete", booking_path(booking), class: "btn btn-danger btn-sm text-white",
              data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this booking?" } %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="row mb-2">
        <div class="col">
          There are no active bookings for you currently!
        </div>
      </div>
  <% end %>
  <br>
  <h3>Previous Bookings</h3>
  <% unless @my_previous_bookings.empty? %>
      <% @my_previous_bookings.each do |booking| %>
        <div class="row mb-2">
          <div class="col">
            Booking id: <%= booking.id %> by <%= booking.user.email %>,
            starting <%= booking.start_date %>,
            ending <%= booking.end_date %>,
            Booked by <%= booking.user.email %>,
            Island Owner <%= booking.island.user.email %>
            <% if booking.user.id == current_user.id %>
              <%= link_to "Delete", booking_path(booking), class: "btn btn-danger btn-sm text-white",
                data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this booking?" } %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="row mb-2">
          <div class="col">
            There are no previous bookings for you currently!
          </div>
        </div>
    <% end %>
</div>
