<div class="container-fluid  px-5">
  <h2 class="text-center ">Our best islands</h2>
  <p class="text-center py-2">Welcome to the biggest islands booking platform. Check our different islands in Indonesia and find yours.<br> Here are our 6 best islands for you. You can check it in details and look at the options (bedrooms, size, pool, ..) available on each.</p>
  <div class="container-home mt-4">
    <% @islands.take(6).each do |island| %>
        <div class="card">
          <%= link_to island_path(island) do %>
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <%= render "shared/imgbooking", island: island %>
            </div>
          <% end %>
          <div class="card-body">
            <%= link_to island_path(island) do %>
              <h5 class="card-title font-weight-bold text-decoration-none"><%= island.name %></h5>
            <% end %>
            <ul class="list-unstyled list-inline mb-0">
              <li class="list-inline-item me-0">
                <i class="fas fa-star text-warning fa-xs"> </i>
              </li>
              <li class="list-inline-item me-0">
                <i class="fas fa-star text-warning fa-xs"></i>
              </li>
              <li class="list-inline-item me-0">
                <i class="fas fa-star text-warning fa-xs"></i>
              </li>
              <li class="list-inline-item me-0">
                <i class="fas fa-star text-warning fa-xs"></i>
              </li>
              <li class="list-inline-item">
                <i class="fas fa-star-half-alt text-warning fa-xs"></i>
              </li>
              <li class="list-inline-item">
                <p class="text-muted">4.5 (413)</p>
              </li>
            </ul>
            <p class="mb-2 text-black"><i class="bi bi-geo-alt-fill"></i> <%= island.address ? island.address.truncate(30) : "" %></p>
            <p class="card-text text-muted">
              <%= island.description ? island.description.truncate(120) : "" %>
            </p>
            <hr class="my-4" />
            <ul class="list-unstyled list-inline d-flex justify-content-between mx-1">
              <li class="list-inline-item me-0">
                <div class="chip me-0 text-info"><i class="fa-solid fa-bed"></i>&nbsp;<span class="text-muted">5</span></div>
              </li>
              <li class="list-inline-item me-0">
                <div class="chip me-0 text-info"><i class="fa-solid fa-maximize"></i>&nbsp;<span class="text-muted">500m</span></div>
              </li>
              <li class="list-inline-item me-0">
                <div class="chip me-0 text-info"><i class="fa-solid fa-person"></i>&nbsp;<span class="text-muted">10</span></div>
              </li>
              <li class="list-inline-item me-0">
                <div class="chip me-0 text-info"><i class="fa-solid fa-water-ladder"></i>&nbsp;<span class="text-muted">1</span></div>
              </li>
            </ul>
          </div>
        </div>
    <% end %>
  </div>
</div>
