<div class="navbar navbar-expand-sm navbar-light sticky-top navbar-lewagon">
  <div class="container-fluid mx-5 px-4">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/math-mavens/the-islanders/master/app/assets/images/the-islanders-logo-cropped.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item ms-3">
            <%= link_to "The Islands", islands_path, class: "nav-link" %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item ms-3">
              <%= link_to "My Bookings", bookings_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item ms-3">
            <%= link_to "Host", new_island_path, class: "nav-link" %>
          </li>
          <% if user_signed_in? %>
          <li class="nav-item dropdown ms-3">
            <%#= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <button type="button" class="btn btn-secondary rounded-circle text-white" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div style="height: 20px;"><span style="line-height: 20px;"><%= current_user.email[0].capitalize %></span></div>
            </button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%#= link_to "Action", "#", class: "dropdown-item" %>
              <%#= link_to "Another action", "#", class: "dropdown-item" %>
              <% if user_signed_in? %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
          <% end %>
          <% unless user_signed_in? %>
            <li class="nav-item ms-3">
              <%= link_to new_user_session_path, class: "btn btn-primary rounded-circle" do %>
                <i class="fa-regular fa-user"></i>
              <% end %>
            </li>
            <li class="nav-item ms-2">
              <%= link_to "Signup", new_user_registration_path, class: "btn btn-primary rounded-pill px-3" %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
</div>
